.container-fluid{
    background-color: #000;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #000;
    color: #fff;
}
.content {
    width: 70%;
    margin: auto;
    color: darkslategray;
    
}
.about{
    text-align: center;
    width: auto;
    color: darkslategray;
}
.img{
     float: left;
    background-color: black;

        background-position: center;
        height: 80%;
        max-width: 100%;
    /* height: auto; */
    filter: none;
    background-size: cover;
    
}
.info{
    font-size: 20px;
    text-align: center;
}